
.type{
    width: 100%;
    align-content: center;
    background-color: #fdfdff;
    text-align: center;
    font-family: "Roboto Slab ExtraLight";
}

.Cards{
    background-color: rgb(177, 237, 255);
    align-items: center;
    align-self: center;
    align-content: center;
    position: center;
    child-align: middle;
}
.page-footer{
    background-color: #282c34;
}
.footer-copyright{
    color:white;
    background-color: black;
}
.greet{
    text-align: center;
    background-color: #5a5858;
    color: rgb(255, 255, 255);
    padding: 10px;
}
